@charset "utf-8";
#wrap {
	width: 900px;
	font-size: 10pt;
	background-color: #FFF;
	margin: 10px auto;
	background-image: url(images/index_bg1.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: contain;	
}
#wrap #head {
	padding: 20px;
	height: 260px;
}
#apDiv1 ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
#apDiv1 ul li {
	float: left;
	display: block;
	width: 7em;
	position: relative;
}


#wrap #banner {
	text-align: center;
	padding: 10px;
}


#wrap #banner img {
	width: 880px;
	border-radius: 10px;
}
#wrap #colcontent {
	float: left;
	width: 280px;
	margin: 0px 10px;
}
#wrap .column {
	float: left;
	width: 180px;
	margin: 0px 10px;
	height: 320px;
}
#wrap .column img {
	width: 180px;
	border-radius: 10px;
}
#wrap #foot {
	clear: both;
	background-image: url(images/index_footer.jpg);
	background-position: center bottom;
	background-size: contain;
	background-repeat: repeat-x;
	height: 30px;
	font-size: 105%;
	padding-left: 20px;
	padding-bottom: 20px;
}
